* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearf::after {
    content: '';
    display: block;
    clear: both;
}