body {
    font-family: tahoma, 微软雅黑, sans-serif;
    width: 100%;
    background-color: #eeeeee;
}

.none {
    width: 100%;
    height: 0px;
    margin-top: 300px;
}

.content {
    width: 1328px;
    height: 400px;
}

.content .left {
    width: 780px;
    height: 358px;
    position: relative;
    left: 10px;
    overflow: hidden;
}

.content .left ul {
    width: 700%;
    height: 325px;
    position: relative;
    left: 0;
}

.content .left ul li {
    float: left;
}

.content .left ul li a img {
    width: 780px;
}

.content .left .swiptTit {
    color: #fff;
    width: 100%;
    line-height: 35px;
    text-align: center;
    position: relative;
    top: -3px;
}

.content .left .swiptTit li {
    width: 20%;
    float: left;
    font-size: 14px;
}

.f1 {
    color: #ab8e66;
    background-color: #f7f6f6;
}

.f2 {
    color: #424242;
    background-color: #e3e3e2;
}

.select {
    color: #ab8e66;
    background-color: #f7f6f6;
}

.normal {
    color: #424242;
    background-color: #e3e3e2;
}

.content .right {
    width: 500px;
    height: 360px;
}

.content .right .tabList {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #e0e2e2;
}

.content .right .tabList ul {
    display: flex;
    justify-content: space-between;
}

.content .right .tabList ul li .bottom {
    width: 100%;
    height: 7px;
    background: url(../images/tab-title-selected.png) no-repeat;
    background-position: center center;
    position: relative;
    top: -3px;
    left: 0px;
    display: none;
    animation: scalein-2 .2s;
    -webkit-animation: scalein-2 .2s;
    transition: width .2s, left .2s, margin-left .2s;
}

@keyframes scalein-2 {
    0% {
        opacity: .5;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.content .right .tabList ul li:nth-child(1) .bottom {
    display: block;
}

.firstCurrent {
    font-size: 18px;
    font-weight: 700;
    color: #1da6ba;
}

.nfCurrent {
    font-size: 18px;
    color: #676767;
}

.current {
    font-size: 18px;
    font-weight: 700;
    color: #1da6ba;
}

.ncurrent {
    font-size: 18px;
    color: #676767;
}

.content .tab_con ul li {
    border-bottom: 1px solid #e0e2e2;
    height: 38px;
    line-height: 38px;
}

.content .tab_con ul li span:nth-child(3) {
    float: right;
    font-size: 14px;
    letter-spacing: 1px;
    color: #9d9d9d;
}

.spanItem {
    vertical-align: middle;
    display: inline-block;
    width: 36px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}

.Vid {
    color: #e9852d;
    border: 1px #e9852d solid;
}

.New {
    color: #bb9a6c;
    border: 1px #bb9a6c solid;
}

.bisai {
    color: #6388c5;
    border: 1px #6388c5 solid;
}

.tab_con .item ul li .vidHov:hover {
    color: #e9852d;
}

.tab_con .item ul li .NewHov:hover {
    color: #bb9a6c;
}

.tab_con .item ul li .bisaiHov:hover {
    color: #6388c5;
}

.content .tab_con ul li a {
    font-size: 14px;
    color: #424242;
    margin-left: 10px;
}

.content .tab_con .firstTit {
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    background: url(../images/index-spr.png) no-repeat 0 -458px;
}

.content .tab_con .firstTit a {
    font-size: 22px;
    color: #0da0b4;
}

.content .tab_con .firstTit a:hover {
    color: #bb9a6c;
}

.content .tab_con .item {
    display: none;
}


/* .content .tab_con .item li:nth-child(2) a:hover {
    color: #e9852d;
}

.content .tab_con .item li:nth-child(3) a:hover,
.content .tab_con .item li:nth-child(6) a:hover,
.content .tab_con .item li:nth-child(7) a:hover {
    color: #bb9a6c;
}

.content .tab_con .item li:nth-child(4) a:hover,
.content .tab_con .item li:nth-child(5) a:hover {
    color: #6388c5;
} */

.Newhov:hover {
    color: #bb9a6c;
}

.content .right .moreNews {
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #e3e2e2;
    font-size: 14px;
    cursor: pointer;
}

.content .right .moreNews:hover {
    background-color: #dad8d8;
}

.content .right .moreNews .moreSpan1 {
    color: #676767;
}

.content .right .moreNews .moreSpan2 {
    color: #7ea1a6;
}

.more-arrow-1 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
    height: 9px;
    width: 15px;
    background: url(../images/comm-spr.png) no-repeat -213px -126px;
}

@keyframes jiantou {
    0% {
        left: 0px;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 0px;
    }
}

.content2 {
    width: 1328px;
    height: 500px;
}

.content2 .content2Left {
    width: 780px;
    position: relative;
    left: 10px;
    overflow: hidden;
}

.content2 .content2Left .newShop {
    font-size: 24px;
    color: #0b0b0b;
    border-left: 3px solid #1da6ba;
    padding-left: 10px;
}

.content2 .content2Left .img img {
    width: 380px;
    height: 240px;
    margin-top: 10px;
    margin-left: 3px;
}

.content2 .content2Left .img .img1,
.content2 .content2Left .img .img2 {
    position: relative;
    width: 380px;
}

.new {
    position: absolute;
    left: 15px;
    top: 20px;
    background-color: #000;
    font-size: 13px;
    color: #cdbe91;
    width: 50px;
    text-align: center;
    z-index: 9;
}

.h2 {
    position: absolute;
    left: 15px;
    top: 190px;
    font-size: 16px;
    color: #cdbe91;
    font-weight: 700;
    z-index: 9;
}

.h3 {
    position: absolute;
    left: 15px;
    top: 220px;
    font-size: 14px;
    color: #cfcfcf;
    z-index: 9;
}

.maskbg {
    position: absolute;
    top: 10px;
    left: 3px;
    width: 100%;
    height: 240px;
    z-index: 10;
    background: url(../images/pic-mask-0.png) repeat;
    background-size: 380px 240px;
    z-index: 8;
    opacity: .8;
}

.detail {
    width: 100%;
    height: 240px;
    position: absolute;
    top: 9px;
    left: 3px;
    z-index: 15;
    background: url(../images/dark70-bg-repeat.png) repeat;
    display: none;
    animation: up 0.5s;
}

@keyframes up {
    0% {
        top: 15px;
    }
    100% {
        top: 9px;
    }
}

.border {
    position: absolute;
    width: 100%;
    height: 240px;
    background: url(../images/index-spr.png) no-repeat 0 0;
    background-size: 610px 552px;
}

.detail .text1 {
    font-size: 18px;
    position: relative;
    top: 23px;
    left: 15px;
    z-index: 33;
    color: #cdbe91;
}

.detail .text2 {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #cdbe91;
    position: relative;
    width: 154px;
    line-height: 42px;
    font-size: 14px;
    height: 42px;
    top: 160px;
    left: 75px;
    z-index: 33;
    background: url(../images/index-spr.png) no-repeat -401px -179px;
    background-size: 638px 572px;
}

.more-arrow-2 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
    height: 9px;
    width: 15px;
    background: url(../images/comm-spr.png) no-repeat -362px -99px;
    animation: jiantou .8s linear infinite;
}

@keyframes jiantou {
    0% {
        left: 0px;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 0px;
    }
}

.content2Right {
    width: 500px;
    height: 200px;
}

.content2Right .top {
    width: 100%;
    height: 160px;
}

.rbtn {
    display: block;
    width: 110px;
    height: 70px;
    line-height: 70px;
    margin-right: 20px;
    text-align: center;
    background: url(../images/index-spr.png) no-repeat -193px -316px;
    background-size: 627px 567px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.rbtn:nth-child(1) {
    margin-bottom: 20px;
}

.content2Right .bottom {
    width: 100%;
}

.content2Right .bottom ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 480px;
}

.content2Right .bottom ul li {
    margin: 10px 0;
    width: 110px;
    height: 65px;
    line-height: 65px;
    background-color: #fff;
}

.content2Right .bottom ul li a {
    font-size: 13px;
    color: #424242;
    margin-left: 16px;
}

.content2Right .bottom ul li a i {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/comm-spr.png) -316px -12px;
    width: 22px;
    height: 20px;
    margin-right: 3px;
}

.content2Right .bottom ul li:nth-child(2) a i {
    background-position: -219px -72px;
}

.content2Right .bottom ul li:nth-child(3) a i {
    background-position: -343px -12px;
}

.content2Right .bottom ul li:nth-child(4) a i {
    background-position: -193px -72px;
}

.content2Right .bottom ul li:nth-child(5) a i {
    background-position: -280px -125px;
}

.content2Right .bottom ul li:nth-child(6) a i {
    background-position: -371px -12px;
}

.content2Right .bottom ul li:nth-child(7) a i {
    background-position: -274px -46px;
}

.content2Right .bottom ul li:nth-child(8) a i {
    background-position: -193px -46px;
}